<% provide(:title, "Help") %>
<h1>Admin</h1>
<p>
  This is the admin page of langscope <br/>
  <%= link_to "Manage countries", admin_countries_path %> <br/>
  <%= link_to "Manage langauges", admin_languages_path %>
</p>
