<p id="notice"><%= notice %></p>
<h1>Listing Countries</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Population</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <%= render 'shared/country_fields', country: country %>
        <td><%= link_to 'Show', country %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<td><%= link_to 'Back', root_url %></td>
